/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set widths on the form inputs since otherwise they're 100% wide */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] { max-width: 280px; }

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron { margin-top: 20px; }

    .body-content {
        padding: 0;
        margin-top: 20px;
    }
}

.spaced { margin: 5px; }

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    border-radius: 2px 2px 5px 5px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group { padding: 2px 5px; }

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.media > .pull-left.col-lg-3 { margin-right: 0; }

div.panel.panel-success { border-color: #1abc9c; }

div.panel-success > .panel-heading {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

div.panel.panel-primary { border-color: #2f4154; }

div.panel-primary > .panel-heading {
    color: #fff;
    background-color: #2f4154;
    border-color: #2f4154;
}

.center { margin: 0 auto; }

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn { margin-right: 10px; }

table.table-striped { background-color: #ffffff }