@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            <h4>@ViewBag.Title.</h4>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>