@using RememBeer.MvcClient.Helpers
@using RememBeer.MvcClient.Models.Reviews
@model RememBeer.MvcClient.Models.Reviews.CreateReviewBindingModel

<!-- Modal Trigger -->
<div class="center-align hide-on-med-and-down">
    <a class="waves-effect waves-light btn btn-large modal-trigger green " href="#createModal">Create a new review</a>
</div>

<!-- Modal Structure -->
<div id="createModal" class="modal">
    @using ( Ajax.BeginForm("Index", "Reviews", null,
                                           new AjaxOptions()
                                           {
                                               HttpMethod = "POST",
                                               UpdateTargetId = "content",
                                               LoadingElementId = "loading",
                                               OnFailure = "handleAjaxError",
                                               OnSuccess = "showSuccess('Review has been successfully created!')",
                                               InsertionMode = InsertionMode.Replace
                                           },
                                           new { enctype = "multipart/form-data", accept = "image/*", @class = "modal-content" }) )
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.BeerId, new { id = "hiddenBeerId" })
        <div class="row">
            <h4>Create a new review</h4>
            <div class="col s12 l4 center-align">
                <p>
                    Upload a new image:
                    <input type="file" accept="image/*" id="createImgUpload" />
                </p>
            </div>
            <div class="col s12 l8">
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-flat green darken-1 white-text" value="Submit"/>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    }

    <script src="~/Scripts/devbridge-autocomplete.min.js"></script>
    <script src="~/Scripts/beer-autocomplete.js"></script>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light modal-trigger green" href="#createModal">
        <i class="large material-icons">add</i>
    </a>
</div>