@model RememBeer.MvcClient.Models.Reviews.CreateReviewBindingModel

<div class="center-align hide-on-med-and-down">
    <a class="waves-effect waves-light btn btn-large modal-trigger green " href="#createModal">Create a new review</a>
</div>

<div id="createModal" class="modal">
    @using (Ajax.BeginForm("Index", "Reviews", null,
                           new AjaxOptions()
                           {
                               HttpMethod = "POST",
                               UpdateTargetId = "content",
                               LoadingElementId = "loading",
                               OnFailure = "notifier.handleAjaxError",
                               OnSuccess = "notifier.showSuccess('Review has been successfully created!')",
                               InsertionMode = InsertionMode.Replace
                           },
                           new { enctype = "multipart/form-data", accept = "image/*", @class = "modal-content", id = "create-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.BeerId, new { id = "hiddenBeerId" })
        <div class="row">
            <h4>Create a new review</h4>
            <div class="col s12 l4 center-align">
                <p>
                    <label for="imageUpload">Upload a new image:</label>
                    <input type="file" accept="image/*" id="createImgUpload" name="image" id="imageUpload"/>
                </p>
            </div>
            <div class="col s12 l8">
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn green darken-1 white-text waves-effect waves-light">Submit</button>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    }
    <script src="~/Scripts/devbridge-autocomplete.min.js"></script>
    <script>
        eventManager.attachCreateReview();
        eventManager.attachBeerAutocomplete();
    </script>
</div>

<div class="fixed-action-btn below">
    <a class="btn-floating btn-large teal darken-2">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating waves-effect waves-light modal-trigger green" href="#createModal">
                <i class="material-icons large">&#xE145;</i>
            </a>
        </li>
        <li>
            <a class="btn-floating amber darken-1" onclick="$('#notify').fadeIn()">
                <i class="material-icons large">&#xE163;</i>
            </a>
        </li>
    </ul>
</div>