@using RememBeer.MvcClient.Helpers
@model RememBeer.MvcClient.Models.Shared.PaginatedViewModel

<div class="center-align">
    <ul class="pagination">
        @{
            var controller = ViewContext.RouteData.GetRequiredString("controller");
            var action = ViewContext.RouteData.GetRequiredString("action");
        }

        @if (Model.CurrentPage <= 0)
        {
            <li class="disabled">
                <a>
                    Previous
                </a>
            </li>
        }
        else
        {
            <li class="waves-effect">
                @Ajax.PageRefreshActionLink("Previous", "", action, controller, new { page = Model.CurrentPage - 1 })
            </li>
        }

        @for (var i = 0; i < 10; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="active">
                    @Ajax.PageRefreshActionLink((i + 1).ToString(), "", action, controller, new { page = i })
                </li>
                continue;
            }

            if (i * Model.PageSize >= Model.TotalCount)
            {
                break;
            }

            <li class="waves-effect">
                @Ajax.PageRefreshActionLink((i + 1).ToString(), "", action, controller, new { page = i })
            </li>
        }

        @if (Model.CurrentPage * Model.PageSize >= Model.TotalCount - Model.PageSize)
        {
            <li class="disabled">
                <a>
                    Next
                </a>
            </li>
        }
        else
        {
            <li class="waves-effect">
                @Ajax.PageRefreshActionLink("Next", "", action, controller, new { page = Model.CurrentPage + 1 })
            </li>
        }
    </ul>
</div>