@using RememBeer.MvcClient.Helpers
@model RememBeer.MvcClient.Models.Shared.IPagination

<div class="center-align">
    <ul class="pagination">
        @{
            var controller = ViewContext.RouteData.GetRequiredString("controller");
            var action = ViewContext.RouteData.GetRequiredString("action");
            var area = ViewContext.RouteData.DataTokens["area"];
        }

        @if (Model.CurrentPage <= 0)
        {
            <li class="disabled">
                <a>
                    Previous
                </a>
            </li>
        }
        else
        {
            <li class="waves-effect">
                @Ajax.PageRefreshActionLink("Previous", "", action, controller, new { page = Model.CurrentPage - 1, pageSize = Model.PageSize, area = area })
            </li>
        }

        @for (var i = 0; i < 10; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="active">
                    @Ajax.PageRefreshActionLink((i + 1).ToString(), "", action, controller, new { page = i, pageSize = Model.PageSize, area = area })
                </li>
                continue;
            }

            if (i * Model.PageSize >= Model.TotalCount)
            {
                break;
            }

            <li class="waves-effect">
                @Ajax.PageRefreshActionLink((i + 1).ToString(), "", action, controller, new { page = i, pageSize = Model.PageSize, area = area })
            </li>
        }

        @if (Model.CurrentPage * Model.PageSize >= Model.TotalCount - Model.PageSize)
        {
            <li class="disabled">
                <a>
                    Next
                </a>
            </li>
        }
        else
        {
            <li class="waves-effect">
                @Ajax.PageRefreshActionLink("Next", "", action, controller, new { page = Model.CurrentPage + 1, pageSize = Model.PageSize, area = area })
            </li>
        }
    </ul>
    
    <script>
        $(".pagination").on(
            "click",
            function(ev) {
                var $target = $(ev.target);
                if ($target.is("a")) {
                    var href = $target.attr("href");
                    history.pushState({}, "", href);
                }
            });
    </script>
</div>