@using RememBeer.MvcClient.Models.Reviews

@model PaginatedReviewsViewModel
@{
    ViewBag.Page = Model.CurrentPage;
    ViewBag.PageSize = Model.PageSize;
}

@Html.Partial("_Create", new CreateReviewBindingModel())

@if (Model.Items.Any())
{
    <ul class="fade-quick">
        @foreach (var review in Model.Items)
        {
            <li class="fade-quick">
                @Html.Partial("_SingleReview", review)
            </li>
        }
    </ul>
}
else
{
    <h5>You don't have any reviews yet!</h5>
}

@Html.Partial("_Pagination", Model)