@using RememBeer.MvcClient.Models.Reviews

@model PaginatedReviewsViewModel
@{
    ViewBag.Page = Model.CurrentPage;
    ViewBag.PageSize = Model.PageSize;
}

@Html.Partial("_Create", new CreateReviewBindingModel())

@if (Model.Items.Any())
{
    <ul class="fade-quick">
        @foreach (var review in Model.Items)
        {
            <li class="fade-quick" id="review-@review.Id">
                @Html.Partial("_SingleReview", review)
            </li>
        }
    </ul>
    <div id="deleteModal" class="modal">
        @using (Ajax.BeginForm("Index", "Reviews", new {area=""}, new AjaxOptions()
        {
            HttpMethod = "DELETE",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loading",
            OnSuccess = "$('.modal').modal('close');showSuccess('Review has been deleted!')",
            OnFailure = "handleAjaxError"
        }, new { }) )
        {
            @Html.AntiForgeryToken()

            <div class="modal-content">
                <h4>Are you sure you want to delete this review?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="Id" id="hidden-review-id"/>
                <button type="submit" class="btn deep-orange darken-2 white-text waves-effect waves-light">Delete</button>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        }
    </div>
}
else
{
    <h5>You don't have any reviews yet!</h5>
}

@Html.Partial("_Pagination", Model)