@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            <h3 class="text-danger">Error.</h3>
            @if (ViewData["ErrorMessage"] != null)
            {
                <h5 class="text-danger">
                    @ViewData["ErrorMessage"]
                </h5>
            }
            else
            {
                <h5>An error occurred while processing your request.</h5>
            }
        </div>
        <div class="card-action clearfix">
            <a href="/" class="btn btn-flat green white-text">Take me back<i class="material-icons left">&#xE88A;</i></a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>