@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-content text-center blue-grey-text text-darken-2">
        <h1>Remem<i class="fa fa-beer fa-lg"></i>Me</h1>
        <div class="row">
            <div class="col s10 offset-s1">
                <p class="flow-text">
                    So, you are in <em>&lt;insert foreign country with great beers&gt;</em> having an ice-cold pint of <em>&lt;insert beer with a complicated name&gt;</em>.
                    You really like it.
                    You would like to try it again on your next visit.
                    The sad part is you would never remember it for so long...
                </p>
                <h3>Until now.</h3>
            </div>

        </div>

        <div class="card-action">
            <a class="btn btn-success btn-large" href="Reviews/My">Get Started</a>
        </div>
    </div>
</div>
