<?xml version="1.0" encoding="utf-8"?>

<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!--<include path="~/Content/bootstrap.min.css" />-->
    <include path="~/Content/Site.css" />
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/flat-ui/css/vendor/bootstrap/css/bootstrap.min.css" />
    <include path="~/Content/flat-ui/css/flat-ui.min.css" />
  </styleBundle>
</bundles>