body {
    background-color: #ecf0f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);*/
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

.text-danger { color: #f00; }

.validation-summary-errors { font-weight: bold; }

.text-center { text-align: center; }

main { flex: 1 0 auto; }

ul.list-inline { display: inline; }

ul.list-inline li { display: inline; }

.review-body {
    padding: 10px 0;
    float: left;
    width: 100%;
}

.thumbnail {
    max-height: 300px;
    max-width: 100%;
}

ul.pagination li.active { background-color: #26a69a; }

ul.pagination li { padding: 0 0; }

ul.pagination li a { padding: 0 10px; }

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:not([type]).input-validation-error, input:not([type]):focus.input-validation-error, input[type=text].input-validation-error, input[type=text]:focus.input-validation-error, input[type=password].input-validation-error, input[type=password]:focus.input-validation-error, input[type=email].input-validation-error, input[type=email]:focus.input-validation-error, input[type=url].input-validation-error, input[type=url]:focus.input-validation-error, input[type=time].input-validation-error, input[type=time]:focus.input-validation-error, input[type=date].input-validation-error, input[type=date]:focus.input-validation-error, input[type=datetime-local].input-validation-error, input[type=datetime-local]:focus.input-validation-error, input[type=tel].input-validation-error, input[type=tel]:focus.input-validation-error, input[type=number].input-validation-error, input[type=number]:focus.input-validation-error, input[type=search].input-validation-error, input[type=search]:focus.input-validation-error, textarea.materialize-textarea.input-validation-error, textarea.materialize-textarea:focus.input-validation-error {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.input-validation-error {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.field-validation-error { color: #f00; }

.full-width { width: 100%; }

#mobile-menu-trigger {
    color: #00897b;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.autocomplete-suggestions {
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #00897b;
    overflow: hidden;
}

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #00897b;
}

.autocomplete-group { padding: 2px 5px; }

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-no-suggestion {
    padding: 10px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #00897b;
    overflow: hidden;
}

nav a.brand-logo  > i.fa {
    float: none;
    margin-right: 0;
}