body {
    /*background-color: #ecf0f1;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:
              linear-gradient(
                             to bottom,
                             rgba(0, 0, 0, 0.05),
                             rgba(0, 0, 0, 0.15)
);
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

.text-danger { color: #f00; }

.validation-summary-errors { font-weight: bold; }

.text-center { text-align: center; }

main { flex: 1 0 auto; }

ul.list-inline { display: inline; }

ul.list-inline li { display: inline; }

.review-body {
    padding: 10px 0;
    float: left;
    width: 100%;
}

.thumbnail {
    max-height: 300px;
    max-width: 100%;
}

ul.pagination li.active { background-color: #26a69a; }

ul.pagination li { padding: 0 0; }

ul.pagination li a { padding: 0 10px; }

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #7f8c8d;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#loading .active {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.fade, .fade-quick {
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.fade { animation: fadeIn 1s; }

.fade-quick { animation: fadeIn 0.5s; }

@-webkit-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

@-moz-keyframes fadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:not([type]).input-validation-error, input:not([type]):focus.input-validation-error, input[type=text].input-validation-error, input[type=text]:focus.input-validation-error, input[type=password].input-validation-error, input[type=password]:focus.input-validation-error, input[type=email].input-validation-error, input[type=email]:focus.input-validation-error, input[type=url].input-validation-error, input[type=url]:focus.input-validation-error, input[type=time].input-validation-error, input[type=time]:focus.input-validation-error, input[type=date].input-validation-error, input[type=date]:focus.input-validation-error, input[type=datetime-local].input-validation-error, input[type=datetime-local]:focus.input-validation-error, input[type=tel].input-validation-error, input[type=tel]:focus.input-validation-error, input[type=number].input-validation-error, input[type=number]:focus.input-validation-error, input[type=search].input-validation-error, input[type=search]:focus.input-validation-error, textarea.materialize-textarea.input-validation-error, textarea.materialize-textarea:focus.input-validation-error {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.input-validation-error {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.field-validation-error { color: #f00; }

.full-width { width: 100%; }

#mobile-menu-trigger {
    color: #00897b;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.autocomplete-suggestions {
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #00897b;
    overflow: hidden;
}

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #00897b;
}

.autocomplete-group { padding: 2px 5px; }

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-no-suggestion {
    padding: 10px 5px;
    white-space: nowrap;
    border-bottom: 1px solid #00897b;
    overflow: hidden;
}

nav a.brand-logo > i.fa {
    float: none;
    margin-right: 0;
}

.checkbox { margin-bottom: 10px; }

.table { display: table; }

.tr { display: table-row; }

.td { display: table-cell; }

.opaque { opacity: 0; }

.close {
    cursor: pointer;
    color: #fff;
    float: right;
    padding-left: 1rem;
}

#toast-container .small { max-width: 800px; }

#notify {
    display: none;
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 3;
}

#createModal { min-height: 555px; }

#createModal .dropdown-content li > a, .dropdown-content li > span { padding: 10px 16px; }

select {
    color: #000;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    display: inline;
}

.selects label { position: initial; }

select option { padding: 10px 16px; }

.image-loader {
    display: none;
}