@using RememBeer.MvcClient.Models.Reviews
@model RememBeer.MvcClient.Models.Reviews.PaginatedReviewsViewModel

@Html.Partial("Partial/_Create", new CreateReviewBindingModel());

@if (Model.Reviews.Any())
{
    foreach (var review in Model.Reviews)
    {
        @Html.Partial("Partial/_SingleReview", review)
    }
}
else
{
    <h5>You don't have any reviews yet!</h5>
}

@Html.Partial("_Pagination", Model)
